@font-face {
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/MullerRegular.woff2') format('woff2'),
  url('../fonts/MullerRegular.woff') format('woff');
}

body{
 width: 1100px;
 margin: 0 auto;
 background: #f1f1f1;
}

a{
  text-decoration: none;
}

p{
  font-size: 18px;
}

.header{
  margin: 20px 0;
}

.header-nav{
  background-image: url('../img/background.png');
  background-repeat:no-repeat;
  background-size: cover;
  border: 0 solid;
  border-radius: 12px;
}

.header-ul{
  padding: 10px 0;
  list-style: none;
  display: flex;
}

.header-item:first-child{
  margin: 0 0 0 15px;
}

.header-item:not(:last-child){
  margin-right: 45px;
}

.header-item a{
  padding: 11px;
  color: #d7e332;
}

.about{
  margin: 0 0 30px 0;
  font-size: 22px;
  line-height: 32px;
  text-align: justify ;
}

.benefits{
  margin: 0 0 30px 0;
}

.benefits-ol{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item{
  width: 500px;
  margin-bottom: 25px;
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 12px;
  text-align:center;
}

.benefits-item:not(:nth-child(2n)){
  margin-right: 30px;
}

.benefits-img{
  width: 200px;
}

.price{
  margin: 0 0 30px 0;
  padding: 40px 0;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}

.price-table{
  font-size: 26px;
  border: 1px solid black;
  border-collapse: collapse;
}



.price-th{
  font-size: 32px;
  font-weight: 600;
  padding: 15px 25px;
  background-color: darkorchid;
  border: 2px solid black;
}

.price-td{
  padding: 15px 25px;
  border: 1px solid black;
}

.news{
  margin: 0 0 50px 0;
  font-family: Muller;
  font-weight: 400;
}

.news-h2{
  text-align: center;
  font-size: 32px;
}

.news-blocks{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.news-block{
  width: 300px;
  text-align: justify;
}

.news-block-img{
  width: 300px;
  border: 0px solid;
  border-radius: 30px;
}

.news-block-name{
  font-size: 28px;
}

.news-block-text{
  font-size: 24px;
}

.form{
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  margin: 0 0 15px 0;
  font-size: 20px;
}

input{
  width: 200px;
  margin: 0 0 20px 0;
  border: 1px solid greenyellow;
  border-radius: 12px;
}

.btn{
  padding: 10px 20px;
  background: #ffffff;
  font-size: 20px;
}

.comment{
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-select{
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid greenyellow;
  border-radius: 12px;
}

.comment-text{
  width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid greenyellow;
  border-radius: 12px;
}

